body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background:#041a15;
    padding: auto;
    font-size: medium;
}
nav{
    background-color: #333;
    padding: 15px;
    text-align: center;
}
nav a{
    margin: 0;
    text-decoration: none;
    color: white;
    transition: o.3s;
    font-size: 18px;
}
nav a:hover{
    color: #00b7ff;
    text-decoration:silver;
}
