body{
    font-family:'Times New Roman', Times, serif;
    font-size: small;
    background-color:greenyellow;
    padding: auto;
}
h1{
    color:rgb(43, 7, 206);
    font-size: medium;
}
h2{
    font-size: medium;
}
.p{
    text-align: center;
}
.right-img{
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
nav{
    color: rgb(202, 9, 9);
    font-size: medium;
    position: absolute;
    top: 10px;
    right: 10px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    font-size: 18px;
    
    color: black;
    background-color: none;
    cursor: pointer;
    transition: 0.3s;
    text-underline-position: below;
}
nav a.hover{
    background-color: blue;
    transform: scale(1.1);
    border-radius: 5px;
    color: rgb(248, 240, 240);
}

nav a.active{
    color: blue;
    font-weight: bold;
}
.hero{
    background-color: #333;
    text-align: center;
    padding: 80px 20px;
}
button{
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration-color: blueviolet;
    border: none;
    cursor: pointer;
    transition: 0.2s ease,box-shadow o.2s ease;
    border-radius: 8px;
    font-size: 16px;

}
button:hover{
    background-color: rgb(52, 73, 52);
    transform: scale(1.1);
}
footer{
    position: 5px;;
    bottom: 0;
    width: 100%;
    background: #333;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}
html{
    scroll-behavior: smooth;
}